<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="extentreport.ExtentReport_21_07_2022"> </listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="extentreport.EReport">
      
      <methods>
      	<include name="EngtoOdia"></include>
      	<include name="OdiatoEng"></include>
      	<include name="OdiatoHindi"></include>
      	<include name="HinditoOdia"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
